.root{
    -bg-gradient: linear-gradient(from 25px 25px to 500px 300px, #a1ffce, #faffd1);
    -hlight-gradient: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -border-gradient: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);

    -primary: #81c483;
    -secondary: #375FCB;
    -tertiary: #fcc200;
    -tertiary-armed: #FDDD71;
}

.background-pane{
   -fx-background-color: -bg-gradient;
   -fx-padding: 10px 15px;
   -fx-background-radius: 10px;
   -fx-border-radius: 5px;
   -fx-border-width: 10px;
}

.shadow-pane{
   -fx-background-color: transparent;
   -fx-padding: 10px;
}

.content-pane{
   -fx-background-color: #ffffff22;
   -fx-background-radius: 10px;
   -fx-spacing: 35px;
   -fx-padding: 25px;
   -fx-alignment: center;
}

.transparent{
   -fx-background-color: transparent;
}

.highlight-rectangle{
   -fx-background-color: derive(-primary, 50%);
   -fx-background-radius: 5px;
}

.transparent-background{
   -fx-background-color: transparent;
}

.transparent-background > .viewport{
   -fx-background-color: transparent;
}

/*  LABELS  */

.label{
    -fx-text-fill: -secondary;
}

.title-text{
  -fx-text-fill: black;
  -fx-font-weight: bold;
  -fx-font-size: 14;
}

.app-text{
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.error-label{
    -fx-text-fill: #375FCB ;
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-background-color: linear-gradient(to right, #0f0c2977, #302b6377, #24243e77);
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-alignment: center;

    -width: 350;
    -fx-min-width: -width;
    -fx-max-width: -width;
}

/*  BUTTONS  */

.button{
    -width: 20px;
    -height: 20px;
    -fill: -secondary;

    -fx-background-color: -fill;
    -fx-min-height: -height;
    -fx-min-width: -width;
    -fx-max-height: -height;
    -fx-max-width: -width;
}

.button:hover {
    -fill: -tertiary;
}

.button:armed {
    -fill: -tertiary-armed;
}

.delete-button{
    -height: 12px;
    -width: 12px;
    -fx-shape: "m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063z";
}

.play{
    -fx-shape: "M295.84,146.049l-256-144c-4.96-2.784-11.008-2.72-15.904,0.128C19.008,5.057,16,10.305,16,16.001v288 c0,5.696,3.008,10.944,7.936,13.824c2.496,1.44,5.28,2.176,8.064,2.176c2.688,0,5.408-0.672,7.84-2.048l256-144 c5.024-2.848,8.16-8.16,8.16-13.952S300.864,148.897,295.84,146.049z";
}

.pause{
  -fx-shape: "M112,0H16C7.168,0,0,7.168,0,16v288c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16V16C128,7.168,120.832,0,112,0z M304,0h-96c-8.832,0-16,7.168-16,16v288c0,8.832,7.168,16,16,16h96c8.832,0,16-7.168,16-16V16C320,7.168,312.832,0,304,0z";
}

.stop{
  -fx-shape: "M288,0H32C14.368,0,0,14.368,0,32v256c0,17.632,14.368,32,32,32h256c17.632,0,32-14.368,32-32V32 C320,14.368,305.632,0,288,0z";
}

.restart{
  -fx-shape: "M32.006,0.012c8.832,0,16,7.168,16,16v116.64L280.166,2.06c4.896-2.784,11.008-2.752,15.904,0.128s7.936,8.128,7.936,13.824 	v288c0,5.696-3.04,10.944-7.936,13.824c-2.464,1.44-5.28,2.176-8.064,2.176c-2.72,0-5.408-0.672-7.84-2.048L48.006,187.372v116.64 	c0,8.832-7.168,16-16,16s-16-7.168-16-16v-288C16.006,7.18,23.174,0.012,32.006,0.012z";
}

.git-button {
    -height: 12px;
    -width: 12px;
    -fx-shape: "m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z";
}

.search-button{
    -height: 12px;
    -width: 12px;
    -fx-shape: "M495.04,404.48L410.56,320c15.36-30.72,25.6-66.56,25.6-102.4C436.16,97.28,338.88,0,218.56,0S0.96,97.28,0.96,217.6 s97.28,217.6,217.6,217.6c35.84,0,71.68-10.24,102.4-25.6l84.48,84.48c25.6,25.6,64,25.6,89.6,0 C518.08,468.48,518.08,430.08,495.04,404.48z M218.56,384c-92.16,0-166.4-74.24-166.4-166.4S126.4,51.2,218.56,51.2 s166.4,74.24,166.4,166.4S310.72,384,218.56,384z";
}

.exit-button {
    -height: 12px;
    -width: 12px;
    -fx-shape: "M247.244,169.59l83.938-83.938c5.332-5.327,7.994-11.798,7.994-19.414c0-7.614-2.669-14.084-7.994-19.414L292.355,7.993 C287.026,2.665,280.556,0,272.944,0c-7.617,0-14.085,2.665-19.417,7.993L169.59,91.931L85.651,7.993 C80.325,2.665,73.854,0,66.237,0c-7.611,0-14.083,2.665-19.414,7.993L7.994,46.824C2.667,52.15,0,58.624,0,66.238 c0,7.616,2.664,14.084,7.994,19.414l83.937,83.938L7.994,253.528C2.667,258.859,0,265.327,0,272.945 c0,7.61,2.664,14.082,7.994,19.41l38.83,38.828c5.33,5.332,11.803,7.994,19.414,7.994c7.616,0,14.084-2.669,19.414-7.994 l83.939-83.938l83.944,83.938c5.328,5.332,11.793,7.994,19.417,7.994c7.611,0,14.082-2.669,19.411-7.994l38.82-38.828 c5.332-5.324,7.994-11.8,7.994-19.41c0-7.618-2.662-14.086-7.994-19.417L247.244,169.59z";
}

.exit-button:hover{
    -fill: red;
}